<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tribe
    </ion-title>
  </ion-toolbar>
  <ion-item>Tribe #1 Columbia, SC</ion-item>
  <ion-menu-button menu="first"></ion-menu-button>
</ion-header>



<ion-content>
  <ion-list *ngFor="let message of messages | async">
    <ion-item color="tertiary" lines="none">
      <ion-avatar>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png">
      </ion-avatar>
      <ion-label>{{ message.username }}</ion-label>
      <ion-button shape="round">{{ message.likes }} Likes</ion-button>
    </ion-item>
    <ion-item color="tertiary">
      {{ message.text }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item></ion-item>
  <ion-textarea placeholder="Send a message!" [(ngModel)]="currMessage.text"></ion-textarea>
  <ion-button type="submit"  (click)="addMessage(currMessage)">Send</ion-button>
</ion-footer>


