<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title size="large">
      Tribe
    </ion-title>
  </ion-toolbar>
  <ion-item color="secondary"><ion-item color="secondary">Tribe #{{ this.tribeNumber }}</ion-item><ion-item slot="end" color="secondary"><ion-button (click)="editProfile()">Edit Profile</ion-button></ion-item></ion-item>
  
</ion-header>

<ion-content fullscreen="true">
  <ion-list *ngFor="let message of messages | async">
    <ion-item *ngIf="message.tribeNumber == this.tribeNumber" color="tertiary" lines="none">
      <ion-avatar>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png">
      </ion-avatar>
      <ion-label>{{ message.username }}</ion-label>
      <ion-button shape="round" (click)="like(message)">{{ message.likes }} Likes</ion-button>
    </ion-item>
    <ion-item color="tertiary" *ngIf="message.tribeNumber == this.tribeNumber">
      {{ message.text }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item></ion-item>
  <ion-textarea placeholder="Send a message!" [(ngModel)]="currMessage.text"></ion-textarea>
  <ion-button type="submit"  (click)="addMessage(currMessage)">Send</ion-button>
</ion-footer>

